body{
	background-color: black;
	}

	.Master	{
		background-color: White;
		margin: 5px;
		height: 1200px;
		
	}
	.MasterTitle	{
		background-color: Gray;
		margin: 5px;
		height: 200px;
	}
	.MasterReel	{
		background-color: Gray;
		margin: 5px;
		height: 300px;
	}
	.MasterContent	{
		background-color: Gray;
		margin: 5px;
		height: 700px;
	}
	.HeaderBanner	{
		background-color: Blue;
		margin: 0;
		height: 50px;
		display: block;
	}
	.BlueContainer{
		
	}	
	.NavBar	{
		background-color: Blue;
		margin: 5px;
		height: 300px;
		width:300px;
		display: inline-block;
	}
	.MainContent	{
		background-color: Blue;
		margin: 5px;
		height: 500px;
		width: 1200px;
		display: inline-block;
		
	}
	.TextContent	{
		background-color: Pink;
		margin: 5px;
		height: 95%;
		width:75%;
		display: inline-block;
	}
	.ContentTitle	{
		background-color: Orange;
		margin: 5px;
		height: 20%;
	}
	.ContentBody	{
		background-color: Orange;
		margin: 5px;
		height: 70%;
	}
	.ImageContent	{
		background-color: Pink;
		margin: 5px;
		height: 95%;
		width: 20%;
		
		display: inline-block;
	}
	.Image	{
		background-color: Green;
		margin: 5px;
		height: 70%;
	}
	.ImageCaption	{
		background-color: Green;
		margin: 5px;
		height: 20%;
	}
	.Unassigned	{
		background-color: Blue;
		margin: 5px;
		height: 300px;
		width:300px;
		display: inline-block;
	}
	.Footer	{
		background-color: White;
		margin: 5px;
		height: 50px;
	}